* {
	text-align: center;
	background-color: #ADD8E6;
}

button {
	background-color: #C0C0C0;
	padding: 20px, 30px;
	font-size: 20px;
}

#header {
	font-size: 90px;
}

#gifs {
	margin-left: 10px;
	display: inline-block;
}

h3 {
	font-size: 35px;
}

.btn-default {
	margin-top: 10px;
}

#search-term {
	background-color: white;
}